{%extends 'base.html' %}
{% load static %}
{% block content %}

<div id="banner-area" class="banner-area" style="background-image:url({% static 'theme/images/banner/m1.jpg' %})">
    <div class="banner-text">
      <div class="container">
          <div class="row">
            <div class="col-lg-12">
                <div class="banner-heading">
                  <h1 class="banner-title">Terms And Conditions</h1>
                  <p>Policies</p>
                </div>
            </div><!-- Col end -->
          </div><!-- Row end -->
      </div><!-- Container end -->
    </div><!-- Banner text end -->
  </div><!-- Banner area end --> 

<div class="container ">
    <div class="row d-flex justify-content-center">
        <div style="text-align: center;">
        </br></br>
            <h3>Spare Parts Policies and Conditions</h3>
                <div class="col-12">
                    <strong>
                        <p>1- Spare Parts prices and quantity are changeable, and the quotation will be provided in the invoicing date.</br>
                            2- Customers may request spare parts initial estimation throughout, Contact details on our website, 
                             the customer request will be escalated to Parts Department, throughout our sales point, or via 
                             information desk. Please Check our detais at the top of the page.  </br>
                            3- Electronic parts can be neither replaced nor returned, because these parts are programmed on a particular 
                            VIN. Rare parts order can be neither replaced nor returned according to article No.11. 
                        </br>4- Inspection should be done before replacing any of the Electrical parts (non-electronic parts) or mechanical 
                            parts, and original invoice must be provided along with parts. 
                            In addition, inspection in this case required labor charges to be applied depending on parts type especially 
                            the part which has been installed in local workshops in this case we must assure that, there are no mistakes 
                            which lead to break the parts according to Article No.16 
                        </br>5- Non-electronic parts are eligible for refund during two days from the invoice date provided along with the 
                            original invoice. the part condition must be sealed with the same original packing, not used and same 
                            condition as it on purchasing date. 
                        </br>6- The company will perform and commit its official estimations prices for 7 days from the date of these 
                            estimations.  
                        </br>7- Spare parts price estimation is not official order and to consider it as an official order customer should pay 
                            50% fifty percent from the total amount as in advance down payment (deposit). 
                        </br>8- Customers can cancel the parts order during one working day starting from the down payment date both cash 
                            receipt and the estimation should be provided to proceed with the cancelation request. Nevertheless, the 
                            order will process and the deposit amount will not be refunded. 
                        </br>9- In case parts ordered were arrived and the customer did not come to collect the parts within 14 days when 
                            informing him officially (phone call or SMS), the company will have the right to release the committed parts. 
                        </br>10-  The company can decline any parts order in the below scenarios: 
                            - Parts unavailability in manufacturer company depends on the vehicle age. 
                            - Parts are related and linked to the particular VIN.  
                            - In case the vehicle or the parts are banned from the manufacturer. 
                            - In case the vehicle ownership is not proved by the customer who orders the parts, especially 
                            for ordering parts related to Operation systems, and security & safety systems. Include but 
                            are not limited to (Key, remote controller, engine PC, Operating Engine). 
                        </br>11-  Rare parts orders are required agreement with the customer. The agreement contains a specific price and 
                            Leadtime period for the part. Include but are not limited to (Parts are linked to the VIN, parts are made to a 
                            particular vehicle, pars with unique specifications and features, Accessories, parts made for the vehicle’s 
                            color, parts made for environment and safety likewise, Airbag and Freon, parts over 7 years old and parts 
                            which sourced from other and unauthorized imported dealers).  
                        </br>12-  Refund Procedure: In case the spare parts cancellation request was approved by the company, the customer 
                            has to provide original invoice and his identity photocopy for process refund amount cheque purposes. In 
                            consideration, this will take a minimum of one week from the date of providing the full required documents 
                            and approval by the company.  
                        </br>13-  Spare part which has been sold throughout our sales point will be under will be under warranty for 12  
                            Months or 20.000 Km whichever comes first from the date of invoice. 
                             
                        </br>14-  Battery warranty is subject to the stickers in each battery according to the batteries agencies' policies.  
                    </br>15-  Mostly service parts include and are not limited to (Brakes, Dick-Front Wheel Brake, Blade Wiper, Clutch, 
                            Filters, Ribbed Belt, and all parts mentioned in the warranty booklet are included in the most used parts rule) 
                            not covered by warranty, only in manufacturer fault cases.  
                            </br>16-  The company may decline any part return request that does meet the refund and return terms and conditions. 
                             </p>
                    </strong>
                    
                      
                      
          
                      
                </div><!-- Col end -->
                
            </div>
        </div>
    </div>
</div>

{% endblock %}