{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Header-->
<div id="banner-area" class="banner-area" style="background-image:url({% static 'theme/images/banner/banner1.jpg' %})">
        <div class="banner-text">
          <div class="container">
              <div class="row">
                <div class="col-lg-12">
                    <div class="banner-heading">
                      <h1 class="banner-title">User Info</h1>
                      <p>Update user Info</p>
                      
                    </div>
                </div><!-- Col end -->
              </div><!-- Row end -->
          </div><!-- Container end -->
        </div><!-- Banner text end -->
    </div><!-- Banner area end --> 
<body>
    <!--text align code-->
    <br/><br/>
    <div class="container">
        <div class="row">
            
                
                    <!--Form Creation-->
                    <br/><br/>
                    <div class="col-md-6 offset-md-3">
                      <strong>Billing Information</strong>
                      
                        <form method="POST" action="{% url 'update_info' %}">
                            {% csrf_token %}<!--Sercurity Measures-->

                            {{ form.as_p}}
                            <br/><br/>
                            <strong>Shipping Information</strong>
                            {{ shipping_form.as_p }}
                            <br/><br/>
                            
                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                    
                    </div>
                
            
        </div>
    <div/>
    <div class="col-lg-6 mt-5 mt-lg-0">
            
        
        

      </div><!-- Col end -->
    <br/><br/>
    <br/><br/>
</body>



{% endblock %}